{% extends "_base.html" %}


{% block content %}

 <div>
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    {% for post in posts %}
        <div>
            <h1><a href="./posts/{{ post.title }}/">{{ post.title }}</a></h1>
            <img src="./{{ post.media }}" alt="">
            <p>{{ post.text|linebreaksbr }}</p>
            <p> Теги - {{ post.tags }}</p>
            <p> Категория - {{ post.category }}</p>
            <p> {{ post.media }}</p>



        </div>
    {% endfor %}

{% endblock content %}