{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<titleБутовичев Григорий</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static "/css/main.css" %}" />
		<link rel="stylesheet" href="{% static "/css/likely.css" %}" />
		<noscript><link rel="stylesheet" href="{% static "/css/noscript.css" %}" /></noscript>
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<p>Python разработчик
						<h1>Григорий Бутовичев<br /></h1>
						<p>Блог о разработке и технологиях. Делаю back end в <a href="https://ticketscloud.org">ticketscloud.org</a> 
						<br />
						</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="/" class="logo">Григорий Бутовичев</a>
					</header>

				<!-- Nav 
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="index.html">Блог</a></li>
							<li><a href="generic.html">Обо мне</a></li>
							<li><a href="elements.html">Контакты</a></li>
						</ul>
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>-->

					<!-- Main -->
					{% block content %}
      				{% endblock %}
						
						

					</div>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>Python 3.5.2, Django 1.11.1 © 2017</li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{% static "./js/jquery.min.js" %}"></script>
			<script src="{% static "./js/jquery.scrollex.min.js" %}"></script>
			<script src="{% static "./js/jquery.scrolly.min.js" %}"></script>
			<script src="{% static "./js/skel.min.js" %}"></script>
			<script src="{% static "./js/util.js" %}"></script>
			<script src="{% static "./js/main.js" %}"></script>
			<script src="{% static "./js/likely.js" %}"></script>
	</body>
</html>